@page "/Colaborador/Detalhes/{Id:int}"

@attribute [Authorize]

<h3>Colaborador</h3>
@if (Colaborador != null)
{
    <h4>@Colaborador.Nome</h4>
}
<Row>
    <Column ColumnSize="ColumnSize.Is3.OnDesktop">
        <a class="btn btn-default" href="Colaborador/Listar">Voltar</a>
        <div class="card">
            <div class="card-body">
                @if (Colaborador != null)
                {
                    <ColaboradorForm @bind-Colaborador="Colaborador" IsCreating="false"></ColaboradorForm>
                }
            </div>
        </div>
    </Column>
    <Column ColumnSize="ColumnSize.Is9.OnDesktop">
        <Tabs SelectedTab="@selectedTab" SelectedTabChanged="@OnSelectedTabChanged">
            <Items>
                <Tab Name="pedidos">Pedidos</Tab>
                <Tab Name="actividade">Actividade</Tab>
            </Items>
            <Content>
                <TabPanel Name="pedidos">
                    <div class="card">
                        <div class="card-body">
                            @if (Pedidos != null)
                            {
                                <Table>
                                    <TableHeader>
                                        <TableRow>
                                            <TableHeaderCell>#</TableHeaderCell>
                                            <TableHeaderCell>Estado</TableHeaderCell>
                                            <TableHeaderCell>Assunto</TableHeaderCell>
                                            <TableHeaderCell>Alterado Em</TableHeaderCell>
                                        </TableRow>
                                    </TableHeader>
                                    <TableBody>
                                        @foreach (var Pedido in Pedidos)
                                        {
                                            <TableRow>
                                                <TableRowHeader><a href="Pedidos/Detalhes/@Pedido.Id" target="_blank">@Pedido.Id</a></TableRowHeader>
                                                <TableRowCell>@Pedido.PedidoEstado?.Nome</TableRowCell>
                                                <TableRowCell>@Pedido.Assunto</TableRowCell>
                                                <TableRowCell>@Pedido.AlteradoEm</TableRowCell>
                                            </TableRow>
                                        }
                                    </TableBody>
                                    @if (Pedidos == null || Pedidos.Count == 0)
                                    {
                                        <TableFooter>
                                            <TableRow Class="text-center">
                                                <TableRowCell ColumnSpan="4">Não existem pedidos. Ainda...</TableRowCell>
                                            </TableRow>
                                        </TableFooter>
                                    }
                                </Table>
                            }
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </TabPanel>
                <TabPanel Name="actividade">
                    <div class="card">
                        <div class="card-body">

                        </div>
                        <div class="card-footer">

                        </div>
                    </div>
                </TabPanel>
            </Content>
        </Tabs>
    </Column>
</Row>

@code {

    [Inject]
    public IDbContextFactory<AppDatabaseContext> dbContextFactory { get; set; }

    [Parameter]
    public int Id { get; set; }

    [Inject]
    public IToastService ToastService { get; set; }

    protected Validations Validator;

    private Colaborador Colaborador = null;

    private List<Pedido> Pedidos = null;

    protected override async Task OnParametersSetAsync()
    {
        if (Id != 0)
        {
            using var context = dbContextFactory.CreateDbContext();

            Colaborador = await context.Colaborador
                .Include(m => m.Empresa)
                .FirstOrDefaultAsync(m => m.Id == Id);

            Pedidos = await context.Pedido
                .Where(m => m.ColaboradorId == Id)
                .Include(m => m.PedidoEstado)
                .ToListAsync();
        }
    }

    string selectedTab = "pedidos";

    private void OnSelectedTabChanged(string name)
    {
        selectedTab = name;
    }
}
