@page "/Colaborador/Listar"

@using Microsoft.EntityFrameworkCore
@using Blazorise.DataGrid

@inject NavigationManager navigationManager
@inject IToastService toastService

<ul class="breadcrumb">
    <li><a href="#">Home</a> <span class="divider">/</span></li>
    <li><a href="#">Colaborador</a> <span class="divider">/</span></li>
    <li class="active">Listar</li>
</ul>
<h1> I'M TRYING I SWEAR</h1>

<p> Give me a break for god sake </p>

<DataGrid TItem="Colaborador"
          Data="@Colaboradores"
          ReadData="@OnReadData"
          TotalItems="@NumColaboradores"
          Sortable="true"
          Filterable="true"
          Editable="true"
          ShowPager="true"
          PageSize="15">
    <DataGridCommandColumn TItem="Colaborador">
        <NewCommandTemplate>
            <Button Color="Color.Success" @onclick="@(()=> CriarNovoColaborador = true)" Clicked="@context.Clicked">Novo</Button>
        </NewCommandTemplate>
        <EditCommandTemplate>
            <Tooltip Text="Editar">
                <a href="/Colaborador/Detalhes/@context.Item.Id" class="btn btn-primary"><i class="fa fa-edit"></i></a>
            </Tooltip>
        </EditCommandTemplate>
        <DeleteCommandTemplate>
            <Tooltip Text="Eliminar">
                <Button Color="Color.Primary" @onclick="@(() => InativarColaborador(context.Item.Id))" Clicked="@context.Clicked"><i class="fa fa-trash-alt"></i></Button>
            </Tooltip>
        </DeleteCommandTemplate>
    </DataGridCommandColumn>
    <DataGridColumn TItem="Colaborador" Field="@nameof(Colaborador.Nome)" Caption="Nome" Editable="true"></DataGridColumn>
    <DataGridColumn TItem="Colaborador" Field="@nameof(Colaborador.Funcao)" Caption="Função" Editable="true"></DataGridColumn>
    <DataGridColumn TItem="Colaborador" Field="@nameof(Colaborador.Telefone)" Caption="Telefone" Editable="true"></DataGridColumn>
    <DataGridColumn TItem="Colaborador" Field="@nameof(Colaborador.Email)" Caption="Email" Editable="true"></DataGridColumn>
    <DataGridColumn TItem="Colaborador" Field="@nameof(Colaborador.Activo)" Caption="Activo" Editable="true">
        <DisplayTemplate>
            @if ((context as Colaborador)?.Activo == true)
            {
                <i class="fas fa-check-circle fa-2x text-success"></i>
            }
            else
            {
                <i class="fas fa-times-circle fa-2x text-danger"></i>
            }
        </DisplayTemplate>
    </DataGridColumn>
</DataGrid>

<AdicionarColaborador @bind-CriarNovoColaborador="CriarNovoColaborador" EmpresaId="0"></AdicionarColaborador>

@code {

    [Inject]
    public IDbContextFactory<AppDatabaseContext> contextFactory { get; set; }

    [Inject]
    public IColaboradorServico ColaboradorServico { get; set; }

    protected bool CriarNovoColaborador { get; set; }

    protected List<Colaborador> Colaboradores;
    protected int NumColaboradores;

    protected async Task OnReadData(DataGridReadDataEventArgs<Colaborador> e)
    {
        using (var context = contextFactory.CreateDbContext())
        {
            Colaboradores = await context.Colaborador
                .Skip((e.Page - 1) * e.PageSize)
                .Take(e.PageSize)
                .ToListAsync();

            NumColaboradores = Colaboradores.Count;
        }

        StateHasChanged();
    }

    protected void InativarColaborador(int Id)
    {
        ColaboradorServico.InativarColaborador(Id);
        toastService.ShowSuccess("Colaborador inativado com sucesso");
    }

}